* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  font-size: 0.16rem; }

ul li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

img {
  width: 100%; }

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.08rem 0;
  align-items: center; }
  .header .head-L {
    width: 30%; }
    .header .head-L img {
      width: 100%;
      margin-left: 0.08rem; }
  .header .head-C {
    width: 50%;
    text-align: center;
    font-size: 0.18rem; }
  .header .head-R {
    width: 20%; }
    .header .head-R ul {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .header .head-R ul li {
        text-align: center;
        margin-right: 0.08rem; }
        .header .head-R ul li span {
          font-size: 0.2rem;
          color: #999; }
        .header .head-R ul li p {
          font-size: 0.11rem;
          color: #999; }

.nav {
  width: 100%;
  padding: 0.1rem 0;
  border-bottom: 0.09rem solid #f4f4f4; }
  .nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .nav ul li {
      width: 25%;
      text-align: center;
      border-right: 1px solid #f4f4f4; }
      .nav ul li p {
        font-size: 0.18rem; }
        .nav ul li p span {
          display: inline-block;
          width: 0.14rem;
          height: 0.075rem;
          color: #999;
          margin-left: 0.1rem; }
    .nav ul .LI p {
      color: #1B9AF7;
      font-size: 0.2rem; }

.con {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  border-bottom: 0.09rem solid #f4f4f4; }
  .con .zhong {
    width: 100%;
    background: #fff;
    position: absolute;
    top: 0rem; }
    .con .zhong .zg-T {
      width: 100%;
      padding: 0.1rem 0; }
      .con .zhong .zg-T ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0.1rem; }
        .con .zhong .zg-T ul li {
          width: 32%;
          border-radius: 0.05rem;
          margin-left: 0.01rem;
          text-align: center;
          border: 1px solid #EAEAEA; }
    .con .zhong .zg-B {
      width: 100%;
      background: #0086B3;
      color: #fff;
      text-align: center;
      height: 0.35rem;
      line-height: 0.35rem;
      margin-bottom: 0.1rem;
      margin-top: 0.15rem; }
      .con .zhong .zg-B p {
        font-size: 0.18rem; }
  .con .top {
    width: 100%;
    display: flex;
    align-items: center; }
    .con .top .c-L {
      width: 22%; }
      .con .top .c-L img {
        width: 100%;
        height: 0.8rem;
        border-radius: 50%; }
    .con .top .c-R {
      margin-left: 0.1rem;
      width: 75%; }
      .con .top .c-R .c-T {
        margin-top: 0.1rem;
        width: 100%;
        display: flex;
        justify-content: space-between; }
        .con .top .c-R .c-T .p1 {
          font-size: 0.16rem; }
          .con .top .c-R .c-T .p1 span {
            display: inline-block;
            font-size: 0.12rem;
            color: #fff;
            background: #39C893;
            padding: 0.01rem;
            margin-left: 0.11rem;
            border-radius: 0.05rem; }
        .con .top .c-R .c-T .p2 {
          font-size: 0.14rem;
          color: #999; }
          .con .top .c-R .c-T .p2 span {
            color: #FEB505; }
      .con .top .c-R .c-C {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .con .top .c-R .c-C p {
          font-size: 0.14rem;
          color: #333;
          margin-top: 0.14rem; }
          .con .top .c-R .c-C p span {
            color: #999;
            margin-left: 0.11rem; }
      .con .top .c-R .c-B p {
        font-size: 0.14rem;
        color: #333;
        margin-top: 0.1rem; }
        .con .top .c-R .c-B p span {
          color: #999;
          margin-left: 0.11rem; }
  .con .bot {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem; }
    .con .bot p {
      text-align: center;
      width: 33.33%;
      font-size: 0.18rem;
      padding: 0.1rem 0; }
    .con .bot .p1 {
      background: #EAEAEA; }
    .con .bot .p3 {
      background: #38CA94;
      color: #fff; }

.fang {
  width: 100%;
  border-bottom: 0.09rem solid #f4f4f4;
  padding: 0.18rem 0; }
  .fang div {
    width: 95%;
    margin: 0 auto;
    text-indent: 2em;
    color: #333;
    font-size: 0.14rem; }

.fuwu {
  width: 100%;
  text-align: center;
  position: relative; }
  .fuwu .p1 {
    font-size: 0.14rem;
    color: #333;
    margin-top: 0.1rem; }
    .fuwu .p1 span {
      font-size: 0.16rem;
      color: #00BE9C; }
  .fuwu .p2 {
    position: absolute;
    top: -0.1rem;
    right: 0;
    border: 1px solid #dedede;
    border-radius: 50%;
    padding: 0.1rem 0.15rem; }
    .fuwu .p2 span {
      color: #9c9c9c; }
  .fuwu ul {
    display: flex;
    justify-content: space-around;
    padding: 0.1rem 0; }
    .fuwu ul li {
      font-size: 0.14rem; }
    .fuwu ul li:hover {
      color: #00BE9C; }

.foot {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-around;
  height: 0.53rem;
  align-items: center;
  position: relative; }
  .foot span {
    display: inline-block;
    width: 0.14rem;
    height: 0.14rem;
    line-height: 0.14rem;
    background: #00BE9C;
    z-index: 50;
    position: absolute;
    top: 0;
    color: #fff;
    left: 0;
    border-radius: 0 0 100% 0; }
  .foot img {
    width: 50%; }
  .foot p {
    height: 0.25rem;
    width: 1rem;
    font-size: 0.14rem;
    background: #feb505;
    color: #fff;
    padding: 0.05rem;
    border-radius: 0.3rem; }

/*# sourceMappingURL=demo.css.map */
