@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-size: 0.16rem;
}
ul li{
    list-style:none;
}
a{
    text-decoration: none;
    color: #000;
}
img{
    width: 100%;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
//   margin: 0 0.09rem;
     padding: 0.08rem 0;
     align-items: center;
    .head-L{
        width: 30%;
      
        img{
            width: 100%;
           margin-left: 0.08rem;
        }
    }
    .head-C{
        width: 50%;
        text-align: center;
        font-size: 0.18rem;
    }
    .head-R{
        width: 20%;
        ul{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
           
            li{
                text-align: center;
              margin-right: 0.08rem;
                span{
                   font-size:0.2rem;
                   color: #999;
                    
                }
                p{
                    font-size: 0.11rem;
                    color:#999 ;
                }
            }
        }
    }
}
.nav{
    width: 100%;
//  height: 1rem;
padding: 0.1rem 0;
//      line-height: 1rem;
border-bottom: 0.09rem solid #f4f4f4;
    ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
       
        align-items: center;
        li{
            width: 25%;
            text-align: center;
            border-right: 1px solid #f4f4f4;
            p{
                font-size:0.18rem ;
                span{
                    display: inline-block;
                    width: 0.14rem;
                    height: 0.075rem;
                    color: #999;
                    margin-left: 0.1rem;
                }
            }
        }
        .LI{
            p{
                color: #1B9AF7;
                font-size: 0.2rem;
            }
        }
    }
}
.con{
    width: 100%;
    
    border-bottom: 0.09rem solid #f4f4f4;
    .top{
        width: 100%;
        display: flex;
        align-items: center;
        .c-L{
            width: 22%;
            img{
                width: 100%;
                height: 0.8rem;
                border-radius: 50%;
            }
        }
        .c-R{
            margin-left: 0.1rem;
            width: 75%;
            .c-T{
                margin-top: 0.1rem;
                width: 100%;
                display: flex;
                justify-content: space-between;
                .p1{
                     font-size: 0.16rem;
                     span{
                         display: inline-block;
                         font-size: 0.12rem;
                         color: #fff;
                         background: #39C893;
                         padding: 0.01rem;
                         margin-left: 0.11rem;
                         border-radius: 0.05rem;
                     }                     
                }
                .p2{
                    font-size: 0.14rem;
                    color: #999;
                    span{
                        color: #FEB505;
                    }
                }
            }
            .c-C{
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{
                    font-size: 0.14rem;
                    color: #333;
                    margin-top: 0.14rem;
                    span{
                        color: #999;
                        margin-left: 0.11rem;
                    }
                }
            }
            .c-B{
                p{
                    font-size: 0.14rem;
                    color: #333;
                    margin-top: 0.1rem;
                    span{
                        color: #999;
                        margin-left: 0.11rem;
                    }
                }
            }
        }
    }
    .bot{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
        p{
            text-align: center;
            width: 33.33%;
            font-size: 0.18rem;
            padding: 0.1rem 0;
            
        }
        .p1{
            background: #EAEAEA;
        }
        .p3{
            background: #38CA94;
            color: #fff;
        }
        
    }
}
.fang{
     width: 100%;
     border-bottom: 0.09rem solid #f4f4f4;
     padding: 0.18rem 0;
    div{
        width: 95%;
        margin: 0 auto;
        text-indent: 2em;
        color: #333;
        font-size: 0.14rem;
    }
 }
 .fuwu{
     width: 100%;
     text-align: center;
     position: relative;
     .p1{
        font-size: 0.14rem;
        color: #333;
         margin-top: 0.1rem;
        span{
            font-size: 0.16rem;
            color: #00BE9C;
        } 
     }
     .p2{
         position: absolute;
         top: -0.1rem;
        right: 0;
        border: 1px solid #dedede;
        border-radius: 50%;
        padding: 0.1rem 0.15rem;
        span{
            color: #9c9c9c;
          
        }
     }
     ul{
         display: flex;
         justify-content: space-around;
         padding: 0.1rem 0;
         li{
             font-size: 0.14rem;
         }
         li:hover{
             color: #00BE9C;
         }
     }
     
 } 
 .foot{
         width: 100%;
         background: rgba(0,0,0,0.8);
         display: flex;
         justify-content: space-around;
         height: 0.53rem;
         align-items: center;
         position: relative;
//       line-height: 0.53rem;
span{
    display: inline-block;
    width:0.14rem ;
    height: 0.14rem;
    line-height: 0.14rem;
    background: #00BE9C;
//  text-align: center;
    z-index: 50;
    position: absolute;
    top: 0;
    color: #fff;
    left: 0;
    border-radius: 0 0 100% 0;
}
         img{
             width: 50%;
         }
         p{
             height: 0.25rem;
             width:1rem ;
             font-size: 0.14rem;
//           line-height: 0.86rem;
             background: #feb505;
             color: #fff;
             padding: 0.05rem ;
             border-radius: 0.3rem;
         }
 }